.card {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');


.card-img-top {
    object-fit: cover; /* Ensures the image covers the area without stretching */
}

.fa-heart {
    color: #fff; /* Change this to your desired color for the heart icon */
    cursor: pointer;
}

.card-img-top {
    height: 350px;
    border-radius: 0.25rem; /* You can adjust the border-radius value to control the roundness */
  }

  /* EventOverview.css or your styles */
.nav-link{
    color: grey !important;
}

.nav-link.active {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: orange !important;
    text-decoration: underline orange;
  }
  